:host {
  display: block;
}

/* Paginador */
.paginator {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
  text-align: right;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: normal;

  a {
    text-decoration: underline;
    color: #0000cc;
  }

  b {
    color: #000;
  }
}

.paginator__page--current {
  font-weight: bolder;
  // font-weight: 700;
  color: #000;
  text-decoration: none;
  // padding: 0 0.125rem;
}

/* ===== Responsive ===== */
@media (max-width: 1030px) {

  .paginator {
    //font-size: 0.85rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .paginator {
    font-size: 1rem;
    //font-size: 0.75rem; /* 12px */
  }
}