@if (nav$ | async; as nav) {
<nav class="rollo-nav" aria-label="Navegación">
    <div class="rollo-nav__left">
        <a [routerLink]="'/'">HOME</a>&nbsp;&nbsp;&nbsp;
        <a [routerLink]="[listRoute, nav.page]">{{ listLabel }}</a>
    </div>

    <div class="rollo-nav__right">
        @if (nav.hasPrev) {
        <a [routerLink]="[detailRoute, nav.prevId]">ANTERIOR</a>&nbsp;&nbsp;&nbsp;
        }
        @if (nav.hasNext) {
        <a [routerLink]="[detailRoute, nav.nextId]">SIGUIENTE</a>
        }
    </div>
</nav>
}