@let p = (page$ | async);
@let nums = (pages$ | async);

<div class="divinas-leyes">

  <!-- cabecera -->
  <div class="divinas-leyes-header">
    <img src="images/toplong2.jpg" alt="Decoración superior" />
  </div>

  <!-- cuerpo -->
  <div class="divinas-leyes-body">
    <div class="divinas-leyes-inner" [style.backgroundImage]="'url(images/fondolong.jpg)'">
      <div class="divinas-leyes-content white-bg-color">

        <!-- PAGINADOR SUPERIOR -->
        @if (p && nums) {
        <app-index-paginator routeBase="/divinas-leyes" [page]="p" [pages]="nums"></app-index-paginator>
        }

        <!-- INTRO SOLO EN LA PRIMERA PÁGINA -->

        @if (p && p.page === 1) {
        <div class="texto intro">
          <p align="center">LO QUE VENDRÁ</p>
          <p>LO QUE HA DE VENIR, SALE DE CADA UNO; PORQUE FUÉ ESCRITO, QUE CADA UNO SERÍA JUZGADO POR SUS
            OBRAS; EL DIVINO JUICIO DE DIOS, ES IDEA POR IDEA, A PARTIR DE LOS DOCE AÑOS; PORQUE LOS NIÑOS SON
            LOS ÚNICOS QUE NO TIENEN DIVINO JUICIO, EL DIVINO JUICIO DE DIOS, ES PARA LOS LLAMADOS ADULTOS DE
            LA PRUEBA DE LA VIDA, LO PENSADO EN UN SEGUNDO, TENDRÁ LA EQUIVALENCIA DE UNA EXISTENCIA; QUE
            SEGÚN COMO SE PENSÓ, PODRÁ SER EXISTENCIA DE LUZ GANADA, O EXISTENCIA DE LUZ PERDIDA; ESTO SE DEBE
            A QUE LO DE DIOS, NO TIENE LÍMITES; EL ETERNO POR UN MICROSCÓPICO ESFUERZO MENTAL DE SUS
            CRIATURAS, OFRECE EN PREMIOS, EXISTENCIAS COMPLETAS.</p>
        </div>
        }

        <!-- LISTA DE ITEMS -->
        @if (p) {
        <div class="divinas-leyes-lista">
          @for (row of p.items; track trackItemId($index, row)) {
          <div class="divinas-leyes-item texto">
            <div class="divinas-leyes-id">{{ row.id }}</div>
            <div class="divinas-leyes-titulo">{{ row.titulo }}</div>
          </div>
          }
        </div>
        }

        <!-- PAGINADOR INFERIOR -->
        @if (p && nums) {
        <app-index-paginator routeBase="/divinas-leyes" [page]="p" [pages]="nums"></app-index-paginator>
        }

      </div> <!-- /.divinas-leyes-content -->
    </div> <!-- /.divinas-leyes-inner -->
  </div> <!-- /.divinas-leyes-body -->

  <!-- pie -->
  <!-- <div class="divinas-leyes-footer">
    <img src="images/bottomlong.jpg" alt="Decoración inferior" />
  </div> -->
  <app-footer></app-footer>

</div>